body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f0f0;
}

.top-bar {
    background-image: url('home-images/blue_bar.png');
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
}

.site-header {
    background-image: url('home-images/paper_bar.png');
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, .2);
}

.main-nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
    font-size: 24px;
}

.main-nav ul li a {
    text-decoration: none;
    color: black; 
}

.auth-button {
    padding: 8px 20px;
    width: 180px;
    height: 30px;
    background-color: #CBE5A8; 
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 20px;
    margin-top: none;
    margin-bottom: none;
}

.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: left;
    margin-bottom: 100px;
  
}
/* 
.earth-and-bee {
    position: relative;
    width: 50%;
    height: 500px;
    background-image: url('home-images/flat_earth.png'), url('home-images/bee_path.png');
    background-position: center center, left 400px top 20px; 
    background-size: contain, 750px auto; 
    background-repeat: no-repeat;
}

.bee {
    position: absolute;
    right: 10px;
    top: 70px;
    width: 60px; 
    height: 60px; 
    background-image: url('home-images/flat_bee.png');
    background-size: contain;
    background-repeat: no-repeat;
} */

/* .earth{
    background-image: url('./home-images/flat_earth.png');
    background-position-x: center;
} */

.bee-path{
    background-image: url('./home-images/bee_path.png');
}

.bee{
    background-image: url('./home-images/flat_bee.png');
    width: 11rem;
    position: absolute;
    right: 0;
    top: 114px;
}

/* .image{
    width: 30%;
    height: auto;
    background-size: cover;
} */
.image{
   position: relative;
    /* border: solid red; */
    /* flex: 1 0 0; */
    width: 500px;
    height: 500px;
}

.image::before {
    content: url('./home-images/bee_path.png');
    display: block;
    position: absolute;
    top: -100px;
    left: 420px;
    width: 100%;
    height: 100%;
    background-size: cover;
    transform: rotate(-15deg);
}
.image::after {
    content: url('./home-images/flat_bee.png');
    display: block;
    position: absolute;
    top: -200px;
    left: 1085px;
    width: 100%;
    height: 100%;
    background-size: cover;
    transform: rotate(-15deg);
}
.image img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.hero-container{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 92%; */
    margin: 5rem;
    /* height: 40vh; */
    /* border: solid; */
    max-width: 1500px;
}
.hero-text {
    margin-top: 100px;
    flex-basis: 50%; 
    padding: 70px; 
    text-align: center;
    color: #255564;
}

.hero-text h1 {
    color: #333;
    margin-bottom: 20px;
    color: #255564;
    font-size: 64px;
    font-weight: 800;
}

.hero-text p {
    margin-bottom: 20px;
    height: 300%;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5em;
}

.hero-text button {
    background-color: #255564;
    width: 283px;
    height: 68px;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 5px; 
}

.options-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
    padding: 10px; 
    background-color: #f0f0f0; 
}

.option {
    background-color: #CBE5A8; 
    color: #1d3557; 
    text-align: center;
    padding: 40px; 
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 8px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto; 
    min-height: 200px; 
}

.option strong {
    font-weight: bold;
    font-size: 1.5rem;
}




.checklist-map-placeholder {
    background-color: lightblue; 
    height: 400px; 
    text-align: center;
}

.bottom-img {
    width: 100%;
    display: block;
}

.site-footer {
    background-image: url('home-images/paper_bar.png');
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: none;
}

.footer-content {
    background-image: url('home-images/blue_bar.png');
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
}
